<div class="container">
    <form #myForm='ngForm'>
        <div class="input-group mb-2 col-6 mx-auto mt-4">
            <input type="text" class="form-control" placeholder="Enter Todo" name="todoText" #todo="ngModel"
                [(ngModel)]="todoText" required>
            <div class="input-group-append">
                <button [disabled]="todo.invalid" class="btn btn-primary" (click)="addTodo(myForm)" type="button"
                    id="button-addon2">Add</button>
            </div>
        </div>
    </form>
    <div *ngIf="todo.invalid && (todo.dirty || todo.touched)" class="text-danger col-6 mx-auto">
        <div *ngIf="todo.errors.required">
            Todo is required
        </div>
    </div>

    <div class="col-6 mx-auto" *ngFor="let note of todoArr; let i=index">
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-8 col-md-8">
                    <label>{{note}}</label>
                </div>
                <div class="col-2 col-md-2">
                    <button class="btn btn-primary">Edit</button>
                </div>
                <div class="col-2 col-md-2">
                    <button class="btn btn-danger" (click)="delete(i)">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>